@import "stylesheet.scss";

.resume {
    grid-template-areas: 'left right';
    grid-template-rows: 100%;
    .header {
        grid-area: header;
        margin: auto;
        line-height: var(--header-height);
        h1 {
            font-size: 3em;
            // border-bottom: solid #06b .6mm;
        }
    }
    .col-1 {
        padding: 3mm;
        grid-area: left;
        display: inline-block;
        background: #6663;
        .portrait {
            --cutoff: 50px;
            width: 100%;
            height: 260px;
            margin-bottom: 20px;
            background-image: url("../assets/elia_20230304.jpg");
            background-repeat: no-repeat;
            background-attachment: local;
            background-size: 130%;
            background-position: 40% 50%; 
            -webkit-clip-path: polygon(0 0, 0 calc(100% - var(--cutoff)), var(--cutoff) 100%, 100% 100%, 100% var(--cutoff), calc(100% - var(--cutoff)) 0);
            clip-path: polygon(0 0, 0 calc(100% - var(--cutoff)), var(--cutoff) 100%, 100% 100%, 100% var(--cutoff), calc(100% - var(--cutoff)) 0);
        }
    }
    .col-2 {
        padding: 3mm;
        grid-area: right;
        display: inline-block;
        background: #0000;
        .grid {
            display: grid;
            grid-template-areas: 'date text';
            grid-template-columns: 25mm;
            grid-gap: 2mm;
        }
        .date {
            grid-area: 'date';
        }
        .text {
            grid-area: 'text';
        }
        > div {
            margin-bottom: 15px;
        }
        h3 {
            margin-bottom: 2px;
        }
    }
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    div.footer {
        position: absolute;
        margin: 0;
        bottom: 10px;
    }
}