@import "stylesheet.scss";

.resume {
    grid-template-areas: 'header header' 'labels labels' 'left right';
    grid-template-columns: var(--seperation) calc(100% - var(--seperation));
    grid-template-rows: var(--header-height) 100px calc(100% - var(--header-height) - 100px);
    grid-template-columns: 100%;
    .header {
        grid-area: header;
        margin: auto;
        line-height: var(--header-height);
        h1 {
            font-size: 3em;
            // border-bottom: solid #06b .6mm;
        }
    }
    div.bar-labels {
        grid-area: labels;
        grid-template-columns: repeat(5, 1fr);
        padding-left: 11mm;
        padding-right: 11mm;
        h3 {
            font-size: 1.1em;
            height: 10mm;
            width: min-content;
            // margin: auto;
        }
        h3, h2 {
            padding-bottom: 3mm;
        }
    }
    .skills {
        display: grid;
        grid-template-columns: 47% 47%;
        height: fit-content;
        width: 100%;
        justify-content: center;
        .skillgroup {
            grid-template-columns: 50% 50%;
            grid-template-rows: 6mm 4mm;
            grid-template-areas: 'one one' 'two two';
            padding: 5mm;
        }
    }
    .skills .skillgroup, .bar-labels {
        height: fit-content;
        display: grid;
        div {
            margin-bottom: 1mm;
            div {
                div {
                    display: inline-block;
                    background: var(--bg-page-2);
                    height: 4mm;
                    width: 7mm;
                    margin-right: -2px;
                }
            }
        }
        h2 {
            grid-area: one;
        }
        .line {
            grid-area: two;
        }
    }
    div {
        @for $i from 1 through 5 {
            &.bar#{$i} {
                @for $j from 1 through $i {
                    div {
                        display: flex;
                        div:nth-child(#{$j}) {
                            background: var(--c-primary);
                        }
                    }
                }
            }
        }
    }
}
