:root {
  --c-primary: #9834d6;
  --c-secondary: #985be3;
  --c-tertiary: #1F59B6;
  --bg: white;
  --bg-page-2: #bbb;
  --text: black;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 20mm;
  --seperation: 65mm;
}

html,
body {
  background: #222;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
}

a {
  text-decoration: none;
  color: var(--c-tertiary);
}

a:hover, a:hover > * {
  background: linear-gradient(to bottom right, var(--c-primary), var(--c-tertiary));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
  width: -moz-fit-content;
  width: fit-content;
}

a:visited {
  color: var(--c-primary);
}

.resume {
  transform: scale(1);
  background: var(--bg);
  color: var(--text);
  width: 210mm;
  height: 297mm;
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "header header" "left right";
  grid-template-columns: var(--seperation) calc(100% - var(--seperation));
  grid-template-rows: var(--header-height) calc(100% - var(--header-height));
  grid-gap: 0;
}
.resume .line {
  margin: 2mm 0;
  border-top: solid var(--c-primary) 0.6mm;
}

#theme {
  display: none;
}

.lang, .home, .dark, .light {
  position: absolute;
  z-index: 10;
  top: 8px;
}

.light {
  display: none;
}

.home {
  left: calc(50vw - 105mm + 10px);
}

.lang {
  right: calc(50vw - 105mm + 10px);
}

.dark, .light {
  right: calc(50vw - 105mm + 38px);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#theme:checked ~ .dark {
  display: none;
}
#theme:checked ~ .light {
  display: initial;
}
#theme:checked ~ .dark, #theme:checked ~ .light {
  color: white;
}
#theme:checked ~ .resume {
  --c-primary: #8F5FDC;
  --c-secondary: #691383;
  --c-tertiary: #276ee0;
  --bg: #333;
  --bg-page-2: #555;
  --text: white;
}

@media print {
  .resume {
    --c-primary: #960fc0 !important;
    --c-secondary: #985be3 !important;
    --c-tertiary: #1F59B6 !important;
    --bg: white !important;
    --bg-page-2: #bbb !important;
    --text: black !important;
  }
  #theme, #theme ~ label,
  .lang, .home, .dark, .light {
    display: none;
  }
}
.resume {
  grid-template-areas: "header header" "labels labels" "left right";
  grid-template-columns: var(--seperation) calc(100% - var(--seperation));
  grid-template-rows: var(--header-height) 100px calc(100% - var(--header-height) - 100px);
  grid-template-columns: 100%;
}
.resume .header {
  grid-area: header;
  margin: auto;
  line-height: var(--header-height);
}
.resume .header h1 {
  font-size: 3em;
}
.resume div.bar-labels {
  grid-area: labels;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 11mm;
  padding-right: 11mm;
}
.resume div.bar-labels h3 {
  font-size: 1.1em;
  height: 10mm;
  width: -moz-min-content;
  width: min-content;
}
.resume div.bar-labels h3, .resume div.bar-labels h2 {
  padding-bottom: 3mm;
}
.resume .skills {
  display: grid;
  grid-template-columns: 47% 47%;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  justify-content: center;
}
.resume .skills .skillgroup {
  grid-template-columns: 50% 50%;
  grid-template-rows: 6mm 4mm;
  grid-template-areas: "one one" "two two";
  padding: 5mm;
}
.resume .skills .skillgroup, .resume .bar-labels {
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
}
.resume .skills .skillgroup div, .resume .bar-labels div {
  margin-bottom: 1mm;
}
.resume .skills .skillgroup div div div, .resume .bar-labels div div div {
  display: inline-block;
  background: var(--bg-page-2);
  height: 4mm;
  width: 7mm;
  margin-right: -2px;
}
.resume .skills .skillgroup h2, .resume .bar-labels h2 {
  grid-area: one;
}
.resume .skills .skillgroup .line, .resume .bar-labels .line {
  grid-area: two;
}
.resume div.bar1 div {
  display: flex;
}
.resume div.bar1 div div:nth-child(1) {
  background: var(--c-primary);
}
.resume div.bar2 div {
  display: flex;
}
.resume div.bar2 div div:nth-child(1) {
  background: var(--c-primary);
}
.resume div.bar2 div {
  display: flex;
}
.resume div.bar2 div div:nth-child(2) {
  background: var(--c-primary);
}
.resume div.bar3 div {
  display: flex;
}
.resume div.bar3 div div:nth-child(1) {
  background: var(--c-primary);
}
.resume div.bar3 div {
  display: flex;
}
.resume div.bar3 div div:nth-child(2) {
  background: var(--c-primary);
}
.resume div.bar3 div {
  display: flex;
}
.resume div.bar3 div div:nth-child(3) {
  background: var(--c-primary);
}
.resume div.bar4 div {
  display: flex;
}
.resume div.bar4 div div:nth-child(1) {
  background: var(--c-primary);
}
.resume div.bar4 div {
  display: flex;
}
.resume div.bar4 div div:nth-child(2) {
  background: var(--c-primary);
}
.resume div.bar4 div {
  display: flex;
}
.resume div.bar4 div div:nth-child(3) {
  background: var(--c-primary);
}
.resume div.bar4 div {
  display: flex;
}
.resume div.bar4 div div:nth-child(4) {
  background: var(--c-primary);
}
.resume div.bar5 div {
  display: flex;
}
.resume div.bar5 div div:nth-child(1) {
  background: var(--c-primary);
}
.resume div.bar5 div {
  display: flex;
}
.resume div.bar5 div div:nth-child(2) {
  background: var(--c-primary);
}
.resume div.bar5 div {
  display: flex;
}
.resume div.bar5 div div:nth-child(3) {
  background: var(--c-primary);
}
.resume div.bar5 div {
  display: flex;
}
.resume div.bar5 div div:nth-child(4) {
  background: var(--c-primary);
}
.resume div.bar5 div {
  display: flex;
}
.resume div.bar5 div div:nth-child(5) {
  background: var(--c-primary);
}/*# sourceMappingURL=skills.css.map */