:root { // light theme
    --c-primary: #9834d6;
    --c-secondary: #985be3;
    --c-tertiary: #1F59B6;
    --bg: white;
    --bg-page-2: #bbb;
    --text: black;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --header-height: 20mm;
    --seperation: 65mm;
}

html,
body {
    background: #222;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11pt;
}

a {
    text-decoration: none;
    color: var(--c-tertiary);
}
a:hover, a:hover > * {
    // background: -webkit-gradient(linear, left top, right top, from(#ff8a00), to(#da1b60));
    // background: linear-gradient(to right, #ff8a00, #da1b60);
    background: linear-gradient(to bottom right, var(--c-primary), var(--c-tertiary));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    text-shadow: none;
    width: fit-content;
}
a:visited {
    color: var(--c-primary);
}
.resume {
    transform: scale(1);
    background: var(--bg);
    color: var(--text);
    width: 210mm;
    height: 297mm;
    position: relative;
    margin: 0 auto;
    display: grid;

    grid-template-areas: 'header header' 'left right';
    grid-template-columns: var(--seperation) calc(100% - var(--seperation));
    grid-template-rows: var(--header-height) calc(100% - var(--header-height));
    grid-gap: 0;
    .line {
        margin: 2mm 0;
        border-top: solid var(--c-primary) .6mm;
    }
}

#theme {
    display: none;
}
.lang, .home, .dark, .light {
    position: absolute;
    z-index: 10;
    top: 8px;
}
.light {
    display: none;
}
.home {
    left: calc(50vw - 210mm/2 + 10px);
}
.lang {
    right: calc(50vw - 210mm/2 + 10px);
}
.dark, .light {
    right: calc(50vw - 210mm/2 + 38px);
    user-select: none;
}
#theme {
    &:checked {
        ~ .dark {
            display: none;
        }
        ~ .light {
            display: initial;
        }
        ~ .dark, ~ .light {
            color: white;
        }
        ~ .resume { // dark theme
            --c-primary: #8F5FDC;
            --c-secondary: #691383;
            --c-tertiary: #276ee0;
            --bg: #333;
            --bg-page-2: #555;
            --text: white;
        }
    }
}



@media print {
    .resume { // light theme
        --c-primary: #960fc0 !important;
        --c-secondary: #985be3 !important;
        --c-tertiary: #1F59B6 !important;
        --bg: white !important;
        --bg-page-2: #bbb !important;
        --text: black !important;
    }
    #theme, #theme ~ label,
    .lang, .home, .dark, .light {
        display: none;
    }
}